@model IEnumerable<Chirper.ViewModels.CheepViewModel>

@{
    ViewBag.Title = "cheeps ~ Home";
}

<h2>cheeps.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheepText)
        </th>
        <th>
            <span style="float: right;">Options</span>
        </th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheepText)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.CheepId }, new { style = "float: right;" })
            </td>
        </tr>
    }
}

else
{
    <tr>
        <td>
            @Html.Raw("Blah blah blah what I have to say is important")
        </td>
    </tr>
}


</table>
